/* STYLING DIRECTORY
- imports
- setup snippet
- general styles (varirables)
- header component styling
- prompt component styling
- musing component styling
- footer component styling
- media queries
 /* imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

/* SETUP SNIPPET START */
html {
  font-size: 18px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: var(--primary3);
}
article,
aside,
header,
nav,
section {
  display: block;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SETUP SNIPPET END */

/* GENERAL STYLING START */
:root {
  --primary1: #463e2a;
  --primary2: #b5b3ad;
  --primary3: #eeebe3;
  --accent1: #eeb4a2;
  --accent2: #e28061;
  --accent3: #d16b4c;
  --black: #121212;
  --white: #f1f1f1;
  --fontHeadline: "Playfair Display", serif;
  --fontMain: "Montserrat", sans-serif;
  --letterSpacingHeadline: 6px;
  --letterSpacingMain: 1.5px;
}
h1,
h2,
h3 {
  font-family: var(--fontHeadline);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0;
}
h4,
p {
  font-family: var(--fontMain);
  margin: 0;
}
textarea {
  overflow: auto;
  outline: none;
  resize: none;
  font-family: var(--fontMain);
  background-color: var(--primary3);
  border: 8px solid var(--primary1);
  width: 100%;
  height: 150px;
}
button,
input[type="submit"] {
  color: var(--white);
  background: var(--primary1);
  cursor: pointer;
  font-family: var(--fontHeadline);
  font-weight: bold;
  border: transparent;
  padding: 20px 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
input[type="submit"] {
  background: var(--accent2);
}

button:hover,
button:focus {
  transform: scale(1.05);
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  transform: scale(1.05);
  background-color: var(--accent3);
}
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px;
}
.wrapperThick {
  padding: 100px;
}
/*  */
/* header component start */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary1);
}
.headerImageContainer {
  width: 500px;
}
.headerImageContainer img {
  width: 100%;
}
.header h1 {
  font-size: 3.5rem;
  letter-spacing: 20px;
  padding-bottom: 20px;
}
/* header component end */
/*  */
/* prompt component start */
.promptContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.promptContainer label {
  width: 80%;
  padding: 10px 0;
  color: var(--primary3);
  background: var(--primary1);
  border: 8px solid var(--primary1);
}
.promptContainer p {
  font-family: var(--fontHeadline);
  padding-left: 20px;
  padding-bottom: 15px;
}
.promptContainer h4 {
  font-size: 1.5rem;
  padding-left: 20px;
}
.promptContainer textarea,
.moodWrapper {
  width: 80%;
}
.moodWrapper {
  border: 8px solid var(--primary1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0px;
}
.mood {
  width: 40px;
  transition: 0.3s;
  opacity: 0.3;
  height: 50px;
  padding: 10px 0;
}
.mood:hover,
.mood:focus {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
}
.promptBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.promptContainer button {
  margin-top: 10px;
  font-size: 1.25rem;
}

/* prompt component end */
/*  */
/* musing container & cards start */
.musingContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  row-gap: 40px;
  column-gap: 80px;
}
.musingCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 8px solid var(--primary1);
  height: 450px;
}
.musingHeadline {
  width: 100%;
  height: 40px;
  line-height: 35px;
  background-color: var(--primary1);
  text-align: left;
}
.musingTextBox {
  padding: 20px;
  line-height: 130%;
  width: 95%;
}
.musingTextBox p:first-child {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 30px;
}
.musingTextBox p:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  height: 210px;
  flex-grow: 1;
}
.musingCard h4 {
  padding-left: 20px;
  color: var(--primary3);
}
.musingNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
}
.gwynnifer {
  cursor: default;
  width: 52px;
}
.cardMood {
  cursor: default;
  width: 40px;
}
.navMood {
  font-size: 1.8rem;
  color: var(--primary1);
}
.navButton {
  font-size: 1.8rem;
  transition: 0.3s;
  color: var(--primary2);
}
.navButton:hover,
.navButton:focus {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--primary1);
}
.textBoxEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textBoxEdit label {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -999;
}
.textBoxEdit button {
  font-size: 1rem;
  padding: 15px 25px;
}
.textBoxEdit textarea {
  margin-bottom: 10px;
}
.musingAwaiting {
  text-align: center;
  color: var(--primary1);
}
.musingWaitingContainer {
  margin: 0 auto;
  width: 400px;
}
.musingWaitingContainer img {
  width: 100%;
}
/* musing container & cards end */
/*  */
/* footer start */
footer {
  background-color: var(--primary1);
  color: var(--primary3);
}
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.footerSmallContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footerCreatedText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: 3rem;
}
.footerSmallContainer h2 {
  letter-spacing: var(--letterSpacingHeadline);
  padding-bottom: 20px;
}
.footerSmallContainer h3 {
  font-family: var(--fontMain);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacingMain);
  padding-left: 20px;
}
.footerSmallContainer svg {
  font-size: 1.8rem;
  margin: 10px;
}
.footerSmallContainer a,
.footerSmallContainer a:visited {
  color: var(--primary3);
  transition: 0.3s;
}
.footerSmallContainer a:hover,
.footerSmallContainer a:focus {
  transform: scale(1.2);
}
.footerCreatedText img {
  width: 40px;
  border-radius: 3px;
}
/* footer end */
/* media queries start */
@media screen and (max-width: 1140px) {
  .header h1 {
    font-size: 3rem;
    letter-spacing: 15px;
  }
}

@media screen and (max-width: 960px) {
  .wrapperThick {
    padding: 10px 80px;
  }
  .header h1 {
    text-align: center;
  }
  .musingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 30px;
  }
  .musingAwaiting {
    padding-bottom: 40px;
  }
  .footerCreatedText img {
    display: none;
  }
  .footerCreatedText {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }
  .header h1 {
    text-align: center;
  }
  .moodWrapper {
    padding: 0px;
  }
  .footerSmallContainer h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 740px) {
  .wrapperThick {
    padding: 40px;
  }
  .headerImageContainer {
    width: 350px;
  }
  .header h1 {
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 10px;
  }
  .header h3 {
    text-align: center;
  }
  .promptBtnContainer {
    flex-direction: column;
  }
  .promptContainer button {
    margin-bottom: 10px;
  }
  .musingContainer {
    grid-template-columns: 1fr;
  }
  .footerContainer {
    flex-direction: column;
  }
  .footerSmallContainer {
    width: 100%;
  }
  .footerCreated {
    padding-top: 20px;
  }
}

@media screen and (max-width: 660px) {
  .wrapper {
    padding: 20px;
  }
  .promptContainer h4 {
    font-size: 1.3rem;
  }
  .footerSmallContainer h3 {
    font-size: 16px;
  }
  .musingWaitingContainer {
    margin: 0 auto;
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 10px;
  }
  .header h1 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 10px;
  }
  .moodWrapper {
    flex-wrap: wrap;
    align-items: center;
  }
  .musingWaitingContainer {
    margin: 0 auto;
    width: 200px;
  }
  .footerSmallContainer h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    padding: 10px;
  }
  .header h1 {
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  .header h3 {
    font-size: 0.75rem;
  }
  .headerImageContainer {
    width: 200px;
  }
  .promptContainer h4 {
    font-size: 0.8rem;
  }
  .footerCreatedText img {
    display: none;
  }
}
/* media queries end */
