@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

:root {
  --primary1: #463e2a;
  --primary2: #b5b3ad;
  --primary3: #eeebe3;
  --accent1: #eeb4a2;
  --accent2: #e28061;
  --black: #121212;
  --white: #f1f1f1;
  --fontHeadline: "Playfair Display", serif;
  --fontMain: "Montserrat", sans-serif;
  --letterSpacingHeadline: 6px;
  --letterSpacingMain: 1.5px;
}
/* DELETE #grin ..... was just testing the capture */
#grin {
  font-size: 3rem;
}
#grin:hover {
  cursor: pointer;
  color: hotpink;
}
/*  */
.musingContainer {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 1fr;
  row-gap: 20px;
  column-gap: 40px;
}
.musingCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 8px solid var(--primary1);
}
.musingHeadline {
  width: 100%;
  height: 40px;
  line-height: 35px;
  background-color: var(--primary1);
  text-align: left;
  padding-left: 20px;
}
.musingTextBox {
  width: 100%;
  padding: 20px;
  line-height: 130%;
}
.musingTextBox p:first-child {
  padding-bottom: 20px;
}
.musingTextBox p:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.textEmphasis {
  text-transform: uppercase;
  font-weight: bold;
}
.musingCard h4 {
  color: var(--primary3);
}
.musingNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
}
.navMood {
  font-size: 1.8rem;
  color: var(--primary1);
}
.navButton {
  font-size: 1.8rem;
  transition: 0.3s;
  color: var(--primary2);
}
.navButton:hover,
.navButton:focus {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--primary1);
}
.textBoxEdit {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.textBoxEdit label {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -999;
}
.textBoxEdit button {
  width: 50%;
  font-size: 1rem;
  margin: 0;
}
.textBoxEdit textarea {
  margin-bottom: 10px;
}
textarea {
  outline: none;
  resize: none;
  font-family: var(--fontMain);
  background-color: var(--primary3);
  border: 8px solid var(--primary1);
  padding: 8px;
  width: 100%;
  height: 150px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* header component start */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerImageContainer {
  width: 500px;
}
.headerImageContainer img {
  width: 100%;
}
.header h1 {
  letter-spacing: 15px;
  padding-bottom: 20px;
}
/* header component end */
/*  */
/* footer start */

footer,
.footerCreatedText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--primary1);
  color: var(--primary3);
}
.footerSmallContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footerCreatedText {
  width: 100%;
  align-items: center;
  min-height: 3rem;
}
.footerSmallContainer h2 {
  letter-spacing: var(--letterSpacingHeadline);
  padding-bottom: 20px;
}
.footerSmallContainer h3 {
  font-family: var(--fontMain);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacingMain);
  padding-left: 20px;
}
.footerSmallContainer svg {
  font-size: 1.8rem;
  margin: 10px;
}
.footerSmallContainer a,
.footerSmallContainer a:visited {
  color: var(--primary3);
  transition: 0.3s;
}
.footerSmallContainer a:hover,
.footerSmallContainer a:focus {
  transform: scale(1.2);
}
.footerCreatedText img {
  width: 40px;
  border-radius: 3px;
}
/* footer end */
